<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BooksForDays</title>
  </head>
  <body>

    <ul class="books">
      <% for(var i = 0; i < books.length; i++) {%>
        <li class="book">
          <span><%= books[i].title %></span>
        </li>
      <% } %>
    </ul>

    <form action="/books" class="new-book" method="post">
      <input type="text" placeholder="title" name="title">
      <button type="submit">Submit</button>
    </form>

    <div>
      <h3>Change <i>Calvin and Hobbes</i> to <i>Harry Potter</i></h3>
      <button id="update">Change</button>
    </div>

    <div>
      <h3>Delete <i>Twilight</i></h3>
      <button id="delete">Delete</button>
    </div>

    <script src="main.js"></script>
  </body>
</html>
